*.backup
*.bm
*.bbl
*.bcf
*.blg
*.dvi
*.synctex.gz
*.bib
*.idx
*.out
*.toc
*.aux
*.log
*.glo
*.lof
*.mpx
*.[0-9]
*.[0-9][0-9]
timestamp
*.ind
*.ilg
*.snm
*.nav
*.run.xml
mpxerr.tex
*~

Thumbs.db

*.pdf

*.asv
